#crystal-ball {
	width: 100%;
	height: 100%;
	text-align: center;
}

h1 {
	text-align: center;
}

#psychic-image {
	position: relative;
}

#game {
	position: absolute;
	top: 30%;
}

h2 {
	text-align: center;
}